# These are retrieved from your project at app.tina.io
NEXT_PUBLIC_TINA_CLIENT_ID=d7a56995-a479-43af-8daf-f17be4413b44
TINA_TOKEN=4c91b2a9078670f70190a1b8e1d738d0ea10f516

# This is set by default CI with Netlify/Vercel/Github, but can be overriden
NEXT_PUBLIC_TINA_BRANCH=***
# To see the preview functionality
VERCEL_ENV=preview