@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
    @apply underline underline-offset-8 hover:text-blue-500 visited:text-purple-600
}

.h2 {
    @apply text-4xl text-center
}

.h2 {
    font-variation-settings: "wght" 800;
}

.h3 {
    @apply text-2xl text-center
}

.h3 {
    font-variation-settings: "wght" 800;
}

.h4 {
    @apply text-xl text-center
}

.h4 {
    font-variation-settings: "wght" 400;
}

.main-button {
    @apply rounded-full px-4 py-4 bg-black text-white dark:bg-white dark:text-black
}

.inflatable-font {
    font-variation-settings: "wght" 500;
    animation-delay: 1s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: delayChangeWeight;
    animation-timing-function: ease;

    transition-property: font-variation-settings;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

@keyframes delayChangeWeight {
    to {
        font-variation-settings: "wght" 999;
    }
}

.form-input {
    @apply placeholder:text-gray-500 focus:border-black dark:border-white  bg-gray-100 dark:bg-gray-1000 dark:text-gray-300 w-full rounded border-transparent px-6 py-4 focus:ring-transparent;
}

.form-label {
    @apply dark:text-gray-150 mb-4 block text-lg font-bold;
}
